@font-face {
  font-family: Orkney;
  src: url(../fonts/Orkney.otf);
}

@font-face {
  font-family: Orkney;
  font-style: italic;
  src: url(../fonts/Orkney-Bold-Italic.otf);
}

@font-face {
  font-family: Orkney;
  font-weight: 700;
  src: url(../fonts/Orkney-Bold.otf);
}

@font-face {
  font-family: Eina03;
  src: url(../fonts/Eina03-Regular.otf);
}

@font-face {
  font-family: Eina03;
  font-style: italic;
  src: url(../fonts/Eina03-RegularItalic.otf);
}

@font-face {
  font-family: Eina03;
  font-weight: 700;
  src: url(../fonts/Eina03-Bold.otf);
}

@font-face {
  font-family: Eina03;
  font-weight: 600;
  src: url(../fonts/Eina03-SemiBold.otf);
}

@font-face {
  font-family: Eina03;
  font-weight: bold;
  src: url(../fonts/Eina03-Bold.otf);
}

@font-face {
  font-family: Eina03;
  font-weight: 600;
  src: url(../fonts/Eina03-SemiBold.otf);
}

@font-face {
  font-family: Calibri;
  font-weight: bold;
  src: url(../fonts/Eina03-Bold.otf);
}

@font-face {
  font-family: Calibri;
  src: url(../fonts/Eina03-SemiBold.otf);
}