body {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: SF Pro Text, Helvetica, Arial, sans-serif;
}

.header {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.small-header {
    text-decoration: underline;
    margin-bottom: -10px;
}

.bold-header {
    font-weight: bold;
    margin-bottom: -10px;
}

.section {
    margin-top: 10px;
    margin-bottom: 10px;
}